.wbdCv-resume{padding:30px; height:100% !important; background:url(../images/um0084/bg.jpg) repeat-y;}

.wbdCv-baseTop{height:160px; background:url(../images/um0084/top_bg.png) no-repeat -30px -26px;}
.wbdCv-baseRight{padding:25px; background:rgba(255,255,255,.9); border-radius:6px;box-shadow: 0 0 0 1px #ccc;}

.wbdCv-baseLeft .baseItem-null{display:none;}

/*个人信息*/
.wbdCv-baseStyle .headItem.template_css{float:left;}
.wbdCv-baseStyle .headItem.template_css dd{width:150px; margin:0; padding:0;}
.wbdCv-baseStyle .headItem.template_css .head-con{margin:0;}
.wbdCv-baseStyle .nameItem.template_css dl{padding:0;}

.wbdCv-baseStyle .infoItem.template_css{border-radius:0;}
.wbdCv-baseStyle .infoItem.template_css dl dd{padding-top:10px;}
.wbdCv-baseStyle .infoItem.template_css dl dt{display:block; color:#686868;}
.wbdCv-baseStyle .bInfoItem.template_css dd a.wbdfont{display:none;}
.wbdCv-baseStyle .infoItem.template_css .info-con div{float:left; margin:0 0 6px 0;}
.wbdCv-baseStyle .bInfoItem.template_css dd span{float:left; line-height:20px; color:#878686; width:330px;}
.nameItem.template_css .name-con .name{color:#222;}
.wbdCv-baseStyle .homeItem.template_css .home-con .home-list{float:left; line-height:20px; color:#878686; width:330px;}
.wbdCv-baseStyle .homeItem.template_css dl{padding-top:0;}

.inteItem.template_css{margin-top:10px;}
.socialItem.template_css{position:absolute; top:110px; right:30px; background: #fff;}
.socialItem.template_css dl{padding:10px 0;}
.socialItem.template_css .social-list a{background:transparent url(../images/social/j17_social.png) no-repeat 0 0; border:1px solid #cecece;}
.homeItem.template_css .home-list{width:auto; display:inline-block;}

.baseItem.template_css dl dt{margin-bottom:10px; background:url(../images/um0084/dt.png) no-repeat 0 center; padding-left:30px;}
.baseItem.template_css dl dt span{color:#686868;}
.baseItem.template_css dl dt a.wbdfont,.infoItem.template_css dl dt a.wbdfont{display:none;}

.baseItem.template_css .dd-title span.time{position:relative; width:129px;float:right;margin:0;text-align:right;}
.baseItem.template_css .dd-title span.company{width:280px;}
.baseItem.template_css .dd-title span.post{width:260px;}

/*作品展示*/
.workItem .work-list{width:48%; margin-right:19px;border:1px solid #e9e9e9;}
.workItem .work-list .work-img{width:100%; overflow:hidden;}
.workItem .work-list .work-img img{display:block; width:100%;}
.workItem .work-list:nth-of-type(even){margin-right:0;}

/*兴趣爱好*/
.hobbyItem.template_css .hobby-list{width:75px;}
.hobbyItem.template_css .hobby-list{margin: 0 30px 20px 0;}
.hobbyItem.template_css .hobby-list:nth-child(7n+8){margin-right:0;}
.hobbyItem.template_css .hobby-list a.wbdfont{font-size:28px; display:block; text-align:center; line-height:70px; width:75px; height:70px; border:1px solid #92a2b2; border-radius:4px;}
.hobbyItem.template_css .hobby-list .hobby-title{width:75px;}

/*职业技能*/
.skillItem.template_css .skill-list{width:180px;margin: 0 79px 20px 0;}
.skillItem.template_css .skill-list:nth-of-type(3n-2){margin-right:0;}
.skillItem.template_css .skill-slider{position:relative; width:180px;}
.skillItem.template_css .skill-slider s{width:180px;}
.skillItem.template_css .skill-slider span{position:absolute; top:-26px; right:0;}
