.wbdCv-resume{background:#fff url(../images/jm0080/j1_bg.png) repeat-y;}
.wbdCv-baseTop{padding-top:40px; margin:0 40px; min-height:250px; border-bottom:2px solid #0b70bd; background:white;}
.wbdCv-baseLeft{display:block; padding:0 40px;}
.wbdCv-baseRight{width:100%; float:right; padding:0 40px;}
.wbdCv-baseBottom{width:100%; float:left; height:50px;}
.wbdCv-baseStyle .baseItem.template_css dl dt{height:40px; line-height:38px; margin-left:-40px; margin-bottom:15px; padding-left:60px; background:url(../images/jm0080/j1_dt_bg.png) no-repeat; color:#fff;}
.wbdCv-baseStyle .baseItem.template_css dl dt span{display:inline-block; height:40px; padding-right:10px; background:#0b70bd;}
.wbdCv-baseStyle .baseItem.template_css dl dt a.wbdfont{display:none;}
.wbdCv-baseStyle .baseItem.template_css .dd-title span.company{width:280px;}
.wbdCv-baseStyle .baseItem.template_css .dd-title span.time{width:129px;}
.wbdCv-baseStyle .baseItem.template_css .dd-title span.post{width:240px;}
.wbdCv-baseTop .bInfoItem.template_css dl{padding:5px 0;}

/*块距*/
.wbdCv-baseStyle .baseItem dd{padding-bottom:0;}
.wbdCv-baseStyle .baseItem.inteItem dl{padding:30px 0;}

/*工具样式*/
.wbdCv-baseStyle .moduleItem.current{background-color:#fff;}
.infoItem a.delete{top:-8px;}
.homeItem a.delete{top:-1px;}
.wbdCv-baseLeft .baseItem-null{display:none;}

/*封面*/
.wbdCv-cover .coverItem{position:absolute; top:854px; left:0; width:500px; padding-left:20px; color:#fff; font-size:16px;}

/*自荐信*/
.wbdCv-baseStyle .wbdCv-letter{padding-top:170px;}
.wbdCv-letter .letterItem{line-height:30px;}

/*头像*/
.wbdCv-baseStyle .headItem.template_css{position:absolute; top:30px; left:20px;}
.wbdCv-baseStyle .headItem.template_css .head-con{border-color:#0b70bd;}

/*姓名*/
.wbdCv-baseStyle .bInfoItem.template_css{margin-left:170px;}
.wbdCv-baseStyle .nameItem.template_css{margin-top:0;}
.wbdCv-baseStyle .nameItem.template_css .name-con .name{display:inline-block;}
.wbdCv-baseStyle .nameItem.template_css .name-con .name{font-size:30px; padding-right:10px;}
.wbdCv-baseStyle .nameItem.template_css .name-con .word{display:block;}

/*标签*/
.nameItem.template_css .name-con .resume_tag{display:inline-block; height:45px; line-height:47px;}
.nameItem.template_css .name-con .resume_tag span:nth-child(1){border-color:#404552; color:#404552;}
.nameItem.template_css .name-con .resume_tag span:nth-child(2){border-color:#ff7272; color:#ff7272;}
.nameItem.template_css .name-con .resume_tag span:nth-child(3){border-color:#00c091; color:#00c091;}

/*基本信息*/
.wbdCv-baseStyle .infoItem.template_css .info-list{display:inline-block;}
.wbdCv-baseStyle .infoItem.template_css .info-list a.wbdfont{display:none;}
.wbdCv-baseStyle .infoItem.template_css .info-list span{border-right:2px solid #b4b4b4; padding-right:8px; margin-right:2px; display:block; line-height:12px;}
.wbdCv-baseStyle .infoItem.template_css .info-list:last-child span{border-right-color:transparent;}

/*个人信息*/
.wbdCv-baseStyle .homeItem.template_css .home-list{display:inline-block; width:auto;}
.wbdCv-baseStyle .homeItem.template_css .home-list .name{color:#878686;}
.wbdCv-baseStyle .homeItem.template_css .home-list a.wbdfont{display:none;}

/*社交账号*/
.socialItem.template_css .social-list a{background:transparent url(../images/social/j17_social.png) no-repeat 0 0; border:1px solid #cecece;}

/*兴趣爱好*/
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list{width:75px;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list{margin:10px 60px 0 0;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list:nth-child(5n+6){margin-right:0;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list a.wbdfont{font-size:28px; display:block; text-align:center; line-height:70px; width:75px; height:70px; border:1px solid #92a2b2; border-radius:4px;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list .hobby-title{width:75px;}
.hobbyItem.template_css .hobby-list .delete{margin-right:-10px;}

/*作品集*/
.wbdCv-baseStyle .workItem .work-list{width:279px; margin-right:34px; border:1px solid #e9e9e9;}
.wbdCv-baseStyle .workItem .work-list .work-img{height:190px; overflow:hidden; width:277px;}
.wbdCv-baseStyle .workItem .work-list .work-img img{display:block; width:100%;}
.wbdCv-baseStyle .workItem .work-list:nth-of-type(even){margin-right:0;}

/*推荐信*/
.wbdCv-baseStyle .recoment-list .info{width:533px; float:left; padding-left:15px; padding-top:2px;}
.wbdCv-baseStyle .recoment-list .info .name{font-size:16px; color:#282828; font-weight:bold; width:100%;}
.wbdCv-baseStyle .recoment-list .info span{font-size:12px; color:#9f9f9f;}
.wbdCv-baseStyle .recoment-list .text{color:#7c7c7c;}
.wbdCv-baseStyle .recoment-list .info span.time{width:111px; text-align:right;}
.wbdCv-baseStyle .recoment-list .info span.relation{width:402px;}

/*联系我*/
.wbdCv-baseStyle .contactItem .contact-con div[contenteditable]{width:354px;}

/*颜色设置*/
.wbdCv-baseStyle .wbdCv-cover{background:url(../images/jf/jf0001_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j1"] .wbdCv-cover{background:url(../images/jf/jf0001_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-cover{background:url(../images/jf/jf0001_j2.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-cover{background:url(../images/jf/jf0001_j3.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-cover{background:url(../images/jf/jf0001_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-cover{background:url(../images/jf/jf0001_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-cover{background:url(../images/jf/jf0001_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-cover{background:url(../images/jf/jf0001_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-cover{background:url(../images/jf/jf0001_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-cover{background:url(../images/jf/jf0001_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-cover{background:url(../images/jf/jf0001_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-cover{background:url(../images/jf/jf0001_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-cover{background:url(../images/jf/jf0001_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-cover{background:url(../images/jf/jf0001_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-cover{background:url(../images/jf/jf0001_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-cover{background:url(../images/jf/jf0001_j15.jpg) no-repeat top center;}

.wbdCv-baseStyle .wbdCv-letter{background:url(../images/zjx/zjx0009_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j1"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j2.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j3.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-letter{background:url(../images/zjx/zjx0009_j15.jpg) no-repeat top center;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-resume{background:#fff url(../images/jm0080/j1_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-resume{background:#fff url(../images/jm0080/j2_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-resume{background:#fff url(../images/jm0080/j3_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-resume{background:#fff url(../images/jm0080/j4_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-resume{background:#fff url(../images/jm0080/j5_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-resume{background:#fff url(../images/jm0080/j6_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-resume{background:#fff url(../images/jm0080/j7_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-resume{background:#fff url(../images/jm0080/j8_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-resume{background:#fff url(../images/jm0080/j9_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-resume{background:#fff url(../images/jm0080/j10_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-resume{background:#fff url(../images/jm0080/j11_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-resume{background:#fff url(../images/jm0080/j12_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-resume{background:#fff url(../images/jm0080/j13_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-resume{background:#fff url(../images/jm0080/j14_bg.png) repeat-y;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-resume{background:#fff url(../images/jm0080/j15_bg.png) repeat-y;}

.wbdCv-baseStyle[data_color="j1"] .baseItem.template_css dl dt{background:url(../images/jm0080/j1_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j2"] .baseItem.template_css dl dt{background:url(../images/jm0080/j2_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j3"] .baseItem.template_css dl dt{background:url(../images/jm0080/j3_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j4"] .baseItem.template_css dl dt{background:url(../images/jm0080/j4_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j5"] .baseItem.template_css dl dt{background:url(../images/jm0080/j5_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j6"] .baseItem.template_css dl dt{background:url(../images/jm0080/j6_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j7"] .baseItem.template_css dl dt{background:url(../images/jm0080/j7_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j8"] .baseItem.template_css dl dt{background:url(../images/jm0080/j8_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j9"] .baseItem.template_css dl dt{background:url(../images/jm0080/j9_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j10"] .baseItem.template_css dl dt{background:url(../images/jm0080/j10_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j11"] .baseItem.template_css dl dt{background:url(../images/jm0080/j11_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j12"] .baseItem.template_css dl dt{background:url(../images/jm0080/j12_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j13"] .baseItem.template_css dl dt{background:url(../images/jm0080/j13_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j14"] .baseItem.template_css dl dt{background:url(../images/jm0080/j14_dt_bg.png) no-repeat;}
.wbdCv-baseStyle[data_color="j15"] .baseItem.template_css dl dt{background:url(../images/jm0080/j15_dt_bg.png) no-repeat;}

.wbdCv-baseStyle[data_color="j1"] .baseItem.template_css dl dt span{background:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .baseItem.template_css dl dt span{background:#254665;}
.wbdCv-baseStyle[data_color="j3"] .baseItem.template_css dl dt span{background:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .baseItem.template_css dl dt span{background:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .baseItem.template_css dl dt span{background:#37b754;}
.wbdCv-baseStyle[data_color="j6"] .baseItem.template_css dl dt span{background:#292929;}
.wbdCv-baseStyle[data_color="j7"] .baseItem.template_css dl dt span{background:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .baseItem.template_css dl dt span{background:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .baseItem.template_css dl dt span{background:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .baseItem.template_css dl dt span{background:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .baseItem.template_css dl dt span{background:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .baseItem.template_css dl dt span{background:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .baseItem.template_css dl dt span{background:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .baseItem.template_css dl dt span{background:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .baseItem.template_css dl dt span{background:#69cc41;}

.wbdCv-baseStyle[data_color="j1"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseTop{border-color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseTop{border-color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseTop{border-color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseTop{border-color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseTop{border-color:#37b754;}
.wbdCv-baseStyle[data_color="j6"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseTop{border-color:#292929;}
.wbdCv-baseStyle[data_color="j7"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseTop{border-color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseTop{border-color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseTop{border-color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseTop{border-color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseTop{border-color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseTop{border-color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseTop{border-color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseTop{border-color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .headItem.template_css .head-con,.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseTop{border-color:#69cc41;}

