.wbdCv-baseTop{position:relative; width:520px; min-height:240px; margin-left:300px; padding:40px 0 20px 0; border-bottom:3px solid #0b70bd; background:white;}
.wbdCv-baseLeft{float:left; position:absolute; top:0; left:0; z-index:2; width:250px; height:100%; padding:0; background:url(../images/jm0087/j1_bg.png) repeat-y right top; color:#fff;}
.wbdCv-baseLeft .baseItem-null{display:none;}

.wbdCv-baseRight{float:right;width:550px;height:initial;padding: 20px 30px 40px 28px;background:#fff;}
.wbdCv-baseRight .baseItem.template_css dl, .wbdCv-baseRight .bInfoItem.template_css dl{position:relative;}
.wbdCv-baseRight .baseItem.template_css dl dt:before, .wbdCv-baseRight .bInfoItem.template_css dl dt:before{content:"";position:absolute;top:0;left: -49px;display:inline-block;width:18px;height:35px;background:url(../images/jm0087/j1_dl_bg.png) no-repeat top left;}
.wbdCv-baseRight .ewmItem.template_css dl:before{display:none;}
.wbdCv-baseRight .baseItem.template_css dt a.wbdfont{display:none;}
.wbdCv-baseRight .baseItem.template_css dt span{width:473px; height:30px; line-height:24px; color:#2b2b2b; cursor:context-menu;}
.wbdCv-baseRight .baseItem.template_css dt span div{color:#0b70bd;}
.wbdCv-baseRight .baseItem.template_css dt{position:relative; margin-bottom:10px;}
.wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{display:none;}
.wbdCv-baseLeft .baseItem.template_css-null{display:none;}
.wbdCv-baseLeft .baseItem.template_css dl, .wbdCv-baseLeft .bInfoItem.template_css dl{padding:30px 30px 0 30px;}
.wbdCv-baseLeft .baseItem.template_css dl dt{padding-bottom:20px;}
.wbdCv-baseStyle .baseItem.template_css .dd-title span.time{width:129px;}
.wbdCv-baseStyle .baseItem.template_css .dd-title span.company{width:160px;}
.wbdCv-baseStyle .baseItem.template_css .dd-title span.post{width:144px;}

/*块距*/
.wbdCv-baseStyle .baseItem.inteItem dl{padding-top:20px; padding-bottom:20px;}

/*封面*/
.wbdCv-cover .coverItem{position:absolute; top:854px; left:0; width:360px; padding-left:20px; font-size:16px; color:#fff;}

/*自荐信*/
.wbdCv-letter .letterItem{line-height:30px;}

/*头像*/
.wbdCv-baseStyle .headItem.template_css{position:absolute; top:30px; left:-20px; margin-bottom:0;}

/*姓名*/
.wbdCv-baseStyle .bInfoItem.template_css.nameItem.template_css{width:350px; margin-left:150px;}
.wbdCv-baseStyle .nameItem.template_css .name-con .name{display:inline-block; word-wrap:break-word; padding-right:10px;}
.wbdCv-baseStyle .nameItem.template_css .name-con .word{display:inline-block; width:348px; word-wrap:break-word;}
.wbdCv-baseStyle .nameItem.template_css .name-con .name{padding-right:10px; font-size:30px; color:#292929;}
.wbdCv-baseStyle .nameItem.template_css dl{padding:10px 0 0;}

/*标签*/
.wbdCv-baseStyle .nameItem.template_css .name-con .resume_tag{display:inline-block; height:45px; line-height:47px;}
.nameItem.template_css .name-con .resume_tag span:nth-child(1){border-color:#ff7272; color:#ff7272;}
.nameItem.template_css .name-con .resume_tag span:nth-child(2){border-color:#00c091; color:#00c091;}
.nameItem.template_css .name-con .resume_tag span:nth-child(3){border-color:#404552; color:#404552;}

/*基本信息*/
.wbdCv-baseStyle .bInfoItem.template_css dl{padding:0;}
.wbdCv-baseStyle .infoItem.template_css,.wbdCv-baseStyle .homeItem.template_css{width:350px; margin-left:150px; margin-bottom:5px; margin-top:4px;}
.wbdCv-baseStyle .infoItem.template_css .info-list,.wbdCv-baseStyle .homeItem.template_css .home-list{display:inline-block; width:auto;}
.wbdCv-baseStyle .infoItem.template_css .info-list a.wbdfont,.wbdCv-baseStyle .homeItem.template_css .home-list a.wbdfont{display:none;}
.wbdCv-baseStyle .infoItem.template_css .info-list span,.wbdCv-baseStyle .homeItem.template_css .home-list .name{display:block; line-height:12px; padding-right:8px; margin-right:2px; border-right:2px solid #ccc;}
.wbdCv-baseStyle .infoItem.template_css .info-list:last-child span,.wbdCv-baseStyle .homeItem.template_css .home-list:last-child .name{border-right-color:transparent;}

/*社交账号*/
.wbdCv-baseStyle .socialItem.template_css{ width:350px; margin-top:0; margin-left:150px;}
.wbdCv-baseStyle .socialItem.template_css dl{padding:0;}
.wbdCv-baseStyle .socialItem.template_css a{border:1px solid #cecece; background:transparent url(../images/social/j17_social.png) no-repeat 0 0;}

/*兴趣爱好*/
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list{margin:15px 31px 0 0;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list a.wbdfont{display:block; width:60px; height:60px; line-height:60px; margin:0 auto; border:1px solid rgba(80, 80, 80, 0.4); border-radius:4px; font-size:28px; text-align:center;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list .hobby-title{width:70px;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list:nth-child(5n+1){margin-right:0;}

/*作品集*/
.wbdCv-baseStyle .workItem .work-list{width:232px; margin-right:9px; border:1px solid #e9e9e9;}
.wbdCv-baseStyle .workItem .work-list .work-img{width:230px; height:184px; overflow:hidden;}
.wbdCv-baseStyle .workItem .work-list .work-img img{display:block; width:100%;}
.wbdCv-baseStyle .workItem .work-list:nth-of-type(even){margin-right:0;}

/*推荐信*/
.wbdCv-baseStyle .template_css .recoment-list .info{float:left; width:414px; padding-left:15px; padding-top:2px;}
.wbdCv-baseStyle .template_css .recoment-list .info .name{width:100%; font-size:16px; color:#282828; font-weight:bold;}
.wbdCv-baseStyle .template_css .recoment-list .info span{color:#9f9f9f;}
.wbdCv-baseStyle .template_css .recoment-list .text{color:#7c7c7c;}
.wbdCv-baseStyle .template_css .recoment-list .info span.time{width:111px; text-align:right;}
.wbdCv-baseStyle .template_css .recoment-list .info span.relation{width:283px;}

/*颜色设置*/
.wbdCv-baseStyle[data_color="j1"] .wbdCv-cover{background:url(../images/jf/jf0001_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-cover{background:url(../images/jf/jf0001_j2.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-cover{background:url(../images/jf/jf0001_j3.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-cover{background:url(../images/jf/jf0001_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-cover{background:url(../images/jf/jf0001_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-cover{background:url(../images/jf/jf0001_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-cover{background:url(../images/jf/jf0001_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-cover{background:url(../images/jf/jf0001_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-cover{background:url(../images/jf/jf0001_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-cover{background:url(../images/jf/jf0001_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-cover{background:url(../images/jf/jf0001_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-cover{background:url(../images/jf/jf0001_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-cover{background:url(../images/jf/jf0001_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-cover{background:url(../images/jf/jf0001_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-cover{background:url(../images/jf/jf0001_j15.jpg) no-repeat top center;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j2.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j3.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j15.jpg) no-repeat top center;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseLeft{background:url(../images/jm0087/j1_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseLeft{background:url(../images/jm0087/j2_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseLeft{background:url(../images/jm0087/j3_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseLeft{background:url(../images/jm0087/j4_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseLeft{background:url(../images/jm0087/j5_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseLeft{background:url(../images/jm0087/j6_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseLeft{background:url(../images/jm0087/j7_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseLeft{background:url(../images/jm0087/j8_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseLeft{background:url(../images/jm0087/j9_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseLeft{background:url(../images/jm0087/j10_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseLeft{background:url(../images/jm0087/j11_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseLeft{background:url(../images/jm0087/j12_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseLeft{background:url(../images/jm0087/j13_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseLeft{background:url(../images/jm0087/j14_bg.png) repeat-y right top;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseLeft{background:url(../images/jm0087/j15_bg.png) repeat-y right top;}

.wbdCv-baseStyle[data_color="j1"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j1"] .baseItem.template_css dt span div{color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j2"] .baseItem.template_css dt span div{color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j3"] .baseItem.template_css dt span div{color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j4"] .baseItem.template_css dt span div{color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j5"] .baseItem.template_css dt span div{color:#37b754;}
.wbdCv-baseStyle[data_color="j6"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j6"] .baseItem.template_css dt span div{color:#292929;}
.wbdCv-baseStyle[data_color="j7"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j7"] .baseItem.template_css dt span div{color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j8"] .baseItem.template_css dt span div{color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j9"] .baseItem.template_css dt span div{color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j10"] .baseItem.template_css dt span div{color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j11"] .baseItem.template_css dt span div{color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j12"] .baseItem.template_css dt span div{color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j13"] .baseItem.template_css dt span div{color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j14"] .baseItem.template_css dt span div{color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .template_css .dd-title span, .wbdCv-baseStyle[data_color="j15"] .baseItem.template_css dt span div{color:#69cc41;}

.wbdCv-baseStyle[data_color="j1"] .bInfoItem.template_css dd a.wbdfont{color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .bInfoItem.template_css dd a.wbdfont{color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .bInfoItem.template_css dd a.wbdfont{color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .bInfoItem.template_css dd a.wbdfont{color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .bInfoItem.template_css dd a.wbdfont{color:#37b754;}
.wbdCv-baseStyle[data_color="j6"] .bInfoItem.template_css dd a.wbdfont{color:#292929;}
.wbdCv-baseStyle[data_color="j7"] .bInfoItem.template_css dd a.wbdfont{color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .bInfoItem.template_css dd a.wbdfont{color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .bInfoItem.template_css dd a.wbdfont{color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .bInfoItem.template_css dd a.wbdfont{color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .bInfoItem.template_css dd a.wbdfont{color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .bInfoItem.template_css dd a.wbdfont{color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .bInfoItem.template_css dd a.wbdfont{color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .bInfoItem.template_css dd a.wbdfont{color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .bInfoItem.template_css dd a.wbdfont{color:#69cc41;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseTop{border-color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseTop{border-color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseTop{border-color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseTop{border-color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseTop{border-color:#37b754;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseTop{border-color:#292929;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseTop{border-color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseTop{border-color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseTop{border-color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseTop{border-color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseTop{border-color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseTop{border-color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseTop{border-color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseTop{border-color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseTop{border-color:#69cc41;}

.wbdCv-baseStyle[data_color="j1"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j1"] .template_css .dd-title .time{color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j2"] .template_css .dd-title .time{color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j3"] .template_css .dd-title .time{color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j4"] .dd-title .time{color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j5"] .template_css .dd-title .time{color:#2bc017;}
.wbdCv-baseStyle[data_color="j6"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j6"] .template_css .dd-title .time{color:#292929;}
.wbdCv-baseStyle[data_color="j7"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j7"] .template_css .dd-title .time{color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j8"] .template_css .dd-title .time{color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j9"] .template_css .dd-title .time{color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j10"] .template_css .dd-title .time{color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j11"] .template_css .dd-title .time{color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j12"] .template_css .dd-title .time{color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j13"] .template_css .dd-title .time{color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j14"] .template_css .dd-title .time{color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j15"] .template_css .dd-title .time{color:#69cc41;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j1_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j2_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j3_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j4_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j5_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j6_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j7_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j8_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j9_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j10_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j11_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j12_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j13_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j14_dl_bg.png) no-repeat top left;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseRight .baseItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseRight .bInfoItem.template_css dl dt:before{background:url(../images/jm0087/j15_dl_bg.png) no-repeat top left;}
