.wbdCv-baseTop{float:left; width:100%; padding:10px 38px 0;}
.wbdCv-baseLeft{display:none;}
.wbdCv-baseRight{float:left; width:100%; padding:30px 25px 40px 25px; background:#fff;}

.wbdCv-baseRight .moduleItem.template_css:first-child dl:before{border:none;}
.wbdCv-baseRight .baseItem.template_css dt a.wbdfont{display:none;}
.wbdCv-baseRight .baseItem.template_css dt span{float:left; height:41px; line-height:35px; overflow:initial;}
.wbdCv-baseStyle .baseItem.template_css dl dd{display:block; margin-top:20px; padding-left:23px;}
.wbdCv-baseStyle .baseItem.template_css .dd-title span.company{width:290px;}
.wbdCv-baseStyle .baseItem.template_css .dd-title span.time{width:150px;}
.wbdCv-baseStyle .baseItem.template_css .dd-title span.post{width:240px;}
.wbdCv-baseTop .bInfoItem.template_css{margin-right:160px;}
.wbdCv-baseTop .bInfoItem.template_css dl{padding:5px 0;}
.wbdCv-baseStyle .baseItem.template_css dt span div{position:relative; width:100%; line-height:40px; padding:0 10px 0 20px; text-align:center;}
.wbdCv-baseStyle .baseItem.template_css dt span{position:relative;}
.wbdCv-baseStyle .baseItem.template_css dt span:after{content:""; position:absolute; top:0; right:-36px; display:inline-block; width:36px; height:41px; background:url("../images/sjs0087/j1_title_bg.png") top center no-repeat;}

/*块距*/
.wbdCv-baseStyle .baseItem.inteItem dl{padding:20px 0;}

/*工具样式*/
.infoItem a.delete{top:-8px;}
.homeItem a.delete{top:-1px;}
.hobbyItem .hobby-list .delete{margin-right:-10px;}

/*封面*/
.wbdCv-cover .coverItem{position:absolute; bottom:73px; right:0; width:330px; font-size:16px; color:#fff;}

/*自荐信*/
.wbdCv-letter .letterItem{line-height:30px;}

/*头像*/
.wbdCv-baseStyle .headItem.template_css{position:absolute; top:0; right:20px;}

/*姓名*/
.wbdCv-baseStyle .nameItem.template_css{margin-bottom:70px;}
.wbdCv-baseStyle .nameItem.template_css.current{background:#e4e4e4;}
.wbdCv-baseStyle .nameItem.template_css .name-con .name{display:inline-block; color:white;}
.wbdCv-baseStyle .nameItem.template_css .name-con .name{padding-right:10px; color:white;}
.wbdCv-baseStyle .nameItem.template_css .name-con .word{display:block; color:#fff;}

/*标签*/
.wbdCv-baseStyle .nameItem.template_css .name-con .resume_tag{display:inline-block; height:45px; line-height:47px;}
.wbdCv-baseStyle .nameItem.template_css .name-con .resume_tag span{border-color:rgba(255,255,255,0.8) !important; color:rgba(255,255,255,0.8) !important;}

/*求职意向*/
.wbdCv-baseStyle .inteItem.template_css dl dt, .wbdCv-baseRight .baseItem.template_css dt{background:url("../images/sjs0087/dt_bg.png") top center no-repeat;}
.wbdCv-baseStyle .inteItem.template_css dl dt span, .wbdCv-baseRight .baseItem.template_css dt span{color:white;}

/*基本信息*/
.wbdCv-baseStyle .infoItem.template_css .info-list{display:inline-block; margin-bottom:7px;}
.wbdCv-baseStyle .infoItem.template_css .info-list a.wbdfont{display:none;}
.wbdCv-baseStyle .infoItem.template_css .info-list span,.wbdCv-baseStyle .homeItem.template_css .home-list .name{display:inline-block; line-height:12px; padding-right:8px; margin-right:5px; border-right:2px solid #b4b4b4;}
.wbdCv-baseStyle .infoItem.template_css .info-list:last-child span,.wbdCv-baseStyle .homeItem.template_css .home-list:last-child .name{border-right-color:transparent;}
.wbdCv-baseStyle .homeItem.template_css .home-list{display:inline-block; width:auto;}
.wbdCv-baseStyle .homeItem.template_css .home-list .name{color:inherit;}
.wbdCv-baseStyle .homeItem.template_css .home-list a.wbdfont{display:none;}

/*社交账号*/
.wbdCv-baseStyle .socialItem.template_css{position:absolute; top:90px;}

/*兴趣爱好*/
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list{width:75px;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list{margin:25px 33px 0 0;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list:nth-child(2),.wbdCv-baseStyle .hobbyItem.template_css .hobby-list:nth-child(3),.wbdCv-baseStyle .hobbyItem.template_css .hobby-list:nth-child(4),.wbdCv-baseStyle .hobbyItem.template_css .hobby-list:nth-child(5),.wbdCv-baseStyle .hobbyItem.template_css .hobby-list:nth-child(6),.wbdCv-baseStyle .hobbyItem.template_css .hobby-list:nth-child(7),.wbdCv-baseStyle .hobbyItem.template_css .hobby-list:nth-child(8){margin-top:0;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list:nth-child(7n+8){margin-right:0;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list a.wbdfont{display:block; width:75px; height:70px; line-height:70px; border:1px solid #92a2b2; border-radius:4px; font-size:28px; text-align:center;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list .hobby-title{width:75px;}

/*作品集*/
.wbdCv-baseStyle .workItem .work-list{width:232px; margin-right:16px; border:1px solid #e9e9e9;}
.wbdCv-baseStyle .workItem .work-list .work-img{width:230px; height: 185px; overflow:hidden;}
.wbdCv-baseStyle .workItem .work-list .work-img img{display:block; width:100%;}
.wbdCv-baseStyle .workItem .work-list:nth-of-type(3){margin-right:0;}
.wbdCv-baseStyle .workItem .link-list a.work-title{color:#0b70bd;}

/*推荐信*/
.wbdCv-baseStyle .recoment-list .info{float:left; width:660px; padding-left:15px; padding-top:2px;}
.wbdCv-baseStyle .recoment-list .info .name{width:100%; font-size:16px; color:#282828; font-weight:bold;}
.wbdCv-baseStyle .recoment-list .info span{font-size:12px; color:#9f9f9f;}
.wbdCv-baseStyle .recoment-list .text{color:#7c7c7c;}
.wbdCv-baseStyle .recoment-list .info span.time{width:111px; text-align:right;}
.wbdCv-baseStyle .recoment-list .info span.relation{width:529px;}

/*联系我*/
.wbdCv-baseStyle .contactItem .contact-con div[contenteditable]{width:285px;}

/*二维码*/
.wbdCv-baseStyle .ewmItem dl dd{width:100%;}

/*颜色设置*/
.wbdCv-baseStyle[data_color="j1"] .wbdCv-cover{background:url(../images/jf/jf0006_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-cover{background:url(../images/jf/jf0006_j2.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-cover{background:url(../images/jf/jf0006_j3.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-cover{background:url(../images/jf/jf0006_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-cover{background:url(../images/jf/jf0006_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-cover{background:url(../images/jf/jf0006_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-cover{background:url(../images/jf/jf0006_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-cover{background:url(../images/jf/jf0006_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-cover{background:url(../images/jf/jf0006_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-cover{background:url(../images/jf/jf0006_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-cover{background:url(../images/jf/jf0006_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-cover{background:url(../images/jf/jf0006_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-cover{background:url(../images/jf/jf0006_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-cover{background:url(../images/jf/jf0006_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-cover{background:url(../images/jf/jf0006_j15.jpg) no-repeat top center;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j2.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j3.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-letter{background:url(../images/zjx/zjx0028_j15.jpg) no-repeat top center;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j1_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j2_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j3_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j4_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j5_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j6_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j7_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j8_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j9_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j10_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j11_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j12_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j13_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j14_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseTop{background:#fff url("../images/sjs0087/j15_bg.png ") top center no-repeat;}

.wbdCv-baseStyle[data_color="j1"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j1_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j2"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j2_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j3"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j3_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j4"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j4_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j5"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j5_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j6"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j6_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j7"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j7_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j8"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j8_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j9"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j9_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j10"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j10_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j11"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j11_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j12"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j12_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j13"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j13_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j14"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j14_title_bg.png") top center no-repeat;}
.wbdCv-baseStyle[data_color="j15"] .baseItem.template_css dt span:after{background:url("../images/sjs0087/j15_title_bg.png") top center no-repeat;}

.wbdCv-baseStyle[data_color="j1"] .infoItem.template_css .info-con a.wbdfont{color:#0b70bd;}
.wbdCv-baseStyle[data_color="j1"] .homeItem.template_css .home-con a.wbdfont{color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .infoItem.template_css .info-con a.wbdfont{color:#254665;}
.wbdCv-baseStyle[data_color="j2"] .homeItem.template_css .home-con a.wbdfont{color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .infoItem.template_css .info-con a.wbdfont{color:#589bf7;}
.wbdCv-baseStyle[data_color="j3"] .homeItem.template_css .home-con a.wbdfont{color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .infoItem.template_css .info-con a.wbdfont{color:#ff7171;}
.wbdCv-baseStyle[data_color="j4"] .homeItem.template_css .home-con a.wbdfont{color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .infoItem.template_css .info-con a.wbdfont{color:#2bc017;}
.wbdCv-baseStyle[data_color="j5"] .homeItem.template_css .home-con a.wbdfont{color:#2bc017;}
.wbdCv-baseStyle[data_color="j6"] .infoItem.template_css .info-con a.wbdfont{color:#000000;}
.wbdCv-baseStyle[data_color="j6"] .homeItem.template_css .home-con a.wbdfont{color:#000000;}
.wbdCv-baseStyle[data_color="j7"] .infoItem.template_css .info-con a.wbdfont{color:#ee7000;}
.wbdCv-baseStyle[data_color="j7"] .homeItem.template_css .home-con a.wbdfont{color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .infoItem.template_css .info-con a.wbdfont{color:#a29177;}
.wbdCv-baseStyle[data_color="j8"] .homeItem.template_css .home-con a.wbdfont{color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .infoItem.template_css .info-con a.wbdfont{color:#da180f;}
.wbdCv-baseStyle[data_color="j9"] .homeItem.template_css .home-con a.wbdfont{color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .infoItem.template_css .info-con a.wbdfont{color:#6b4b24;}
.wbdCv-baseStyle[data_color="j10"] .homeItem.template_css .home-con a.wbdfont{color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .infoItem.template_css .info-con a.wbdfont{color:#048BB3;}
.wbdCv-baseStyle[data_color="j11"] .homeItem.template_css .home-con a.wbdfont{color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .infoItem.template_css .info-con a.wbdfont{color:#5974D4;}
.wbdCv-baseStyle[data_color="j12"] .homeItem.template_css .home-con a.wbdfont{color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .infoItem.template_css .info-con a.wbdfont{color:#9D57CA;}
.wbdCv-baseStyle[data_color="j13"] .homeItem.template_css .home-con a.wbdfont{color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .infoItem.template_css .info-con a.wbdfont{color:#d4ba38;}
.wbdCv-baseStyle[data_color="j14"] .homeItem.template_css .home-con a.wbdfont{color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .infoItem.template_css .info-con a.wbdfont{color:#69cc41;}
.wbdCv-baseStyle[data_color="j15"] .homeItem.template_css .home-con a.wbdfont{color:#69cc41;}

.wbdCv-baseStyle[data_color="j1"] .moduleItem.template_css dl:before{border-color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .moduleItem.template_css dl:before{border-color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .moduleItem.template_css dl:before{border-color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .moduleItem.template_css dl:before{border-color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .moduleItem.template_css dl:before{border-color:#2bc017;}
.wbdCv-baseStyle[data_color="j6"] .moduleItem.template_css dl:before{border-color:#292929;}
.wbdCv-baseStyle[data_color="j7"] .moduleItem.template_css dl:before{border-color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .moduleItem.template_css dl:before{border-color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .moduleItem.template_css dl:before{border-color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .moduleItem.template_css dl:before{border-color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .moduleItem.template_css dl:before{border-color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .moduleItem.template_css dl:before{border-color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .moduleItem.template_css dl:before{border-color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .moduleItem.template_css dl:before{border-color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .moduleItem.template_css dl:before{border-color:#69cc41;}

.wbdCv-baseStyle[data_color="j1"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseTop{border-color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseTop{border-color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseTop{border-color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseTop{border-color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseTop{border-color:#2bc017;}
.wbdCv-baseStyle[data_color="j6"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseTop{border-color:#292929;}
.wbdCv-baseStyle[data_color="j7"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseTop{border-color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseTop{border-color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseTop{border-color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseTop{border-color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseTop{border-color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseTop{border-color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseTop{border-color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseTop{border-color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .moduleItem.template_css dl dt:before,.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseTop{border-color:#69cc41;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#2bc017;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#292929;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseRight .baseItem.template_css dt span{background-color:#69cc41;}

.wbdCv-baseStyle[data_color="j1"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j1"] .template_css .dd-title .time{color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j2"] .template_css .dd-title .time{color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j3"] .template_css .dd-title .time{color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j4"] .template_css .dd-title .time{color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j5"] .template_css .dd-title .time{color:#2bc017;}
.wbdCv-baseStyle[data_color="j6"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j6"] .template_css .dd-title .time{color:#292929;}
.wbdCv-baseStyle[data_color="j7"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j7"] .template_css .dd-title .time{color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j8"] .template_css .dd-title .time{color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j9"] .template_css .dd-title .time{color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j10"] .template_css .dd-title .time{color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j11"] .template_css .dd-title .time{color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j12"] .template_css .dd-title .time{color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j13"] .template_css .dd-title .time{color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j14"] .template_css .dd-title .time{color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .baseItem.template_css .dd-title [contenteditable=true], .wbdCv-baseStyle[data_color="j15"] .template_css .dd-title .time{color:#69cc41;}